@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body{
    display: flex;
    height: auto;
    width: 100%;
    margin: 0;

    font-family: 'Open Sans', sans-serif;

    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background-attachment: fixed;
}

.offset{
    padding-top: 66px;

    width: 100%;

    z-index: 1;
}

/* Nav bar styles; */
nav{
    position: fixed;

    width: 100%;

    box-shadow: 0px 1px 90px 5px black;

    backdrop-filter: blur(3px);

    z-index: 2;
}

.nav-bg{
    position: fixed;
    width: 100%;
    height: 82px;

    z-index: 2;

    background-color: rgba(9, 10, 15, 0.6);
}

.nav-container{
    display: flex;
    justify-content: space-between;

    height: 82px;

    margin: 0;
}

.nav-container ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.nav-container ul li{
    height: 100%;
    margin: 0px 20px;

    list-style-type: none;
    user-select: none;
    cursor: pointer;

    font-size: 1.3rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container ul li label{
    cursor: pointer;
}

.nav-container ul li:not(:last-child){
    z-index: 3;
}

.nav-container ul li input[type='checkbox']{
    display: none;
}

.nav-icon{
    position: relative;
    font-size: 3.2rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;

    z-index: 5;
}

.nav-icon a{
    color: white;
}

.nav-container li a{
    text-decoration: none;
    color: white;

    height: 100%;
    display: flex;
    align-items: center;

    transition: 0.2s ease;
}

.nav-container ul li a:hover{
    color: rgb(137, 139, 151);
    text-decoration: underline;
}

.dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0%;
    z-index: 1;

    background-color: rgba(18, 24, 33, 0.7);

    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: max-content;
    height: max-content;

    text-align: center;

    transition: 0.2s ease;

    top: 60%;
}

.nav-container li input[type='checkbox']:checked ~ .dropdown{
    visibility: visible;
    opacity: 100%;

    top: 100%;
}

.dropdown:hover{
    visibility: visible;
    opacity: 100%;

    top: 100%;
}

.topic-list{
    visibility: hidden;
    opacity: 0%;
    transition: 0.2s ease;

    position: absolute;
    top: 60%;
    left: 0;
    z-index: 1;

    width: 100vw;
    background-color: rgba(18, 24, 33, 0.8);
    backdrop-filter: blur(3px);

    padding: 15px 20px;
    
    display: flex;

    cursor: default;
}

.nav-container li input[type='checkbox']:checked ~ .topic-list{
    visibility: visible;
    opacity: 100%;

    top: 100%;
}

.topic-item{
    margin: 0px 20px;
    font-size: 1rem;
}

.nav-container li form{
    z-index: 3;

    display: flex;

    /* position: relative; */
}

.nav-container li form input{
    width: 150px;

    padding: 10px;
    padding-bottom: 0;
    padding-left: 5px;

    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;

    outline: none;
    color: white;
    transition: 0.1s ease;
}

.nav-container li form input:focus{
    border-bottom: 2px solid rgb(0, 81, 255);
}

.nav-container li form input:focus ~ button{
    border: 2px solid rgb(0, 81, 255);
    background-color: rgba(255, 255, 255, 0.05);
}

.nav-container li form button{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    
    color: white;
    cursor: pointer;
    transition: 0.1s ease;
}

.nav-container li form button:hover{
    background-color: rgba(255, 255, 255, 0.07);
}

.navbar-suggestions{
    position: absolute;
    top: 100%;
    max-width: 300px;
    margin-right: 30px;

    background-color: white;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-suggestion{
    padding: 1px 15px;
    margin: 0;
    width: 100%;

    color: rgb(118, 118, 118) !important;
    font-weight: 600;

    cursor: pointer;
    transition: 0.1s ease;
}

.navbar-suggestion:hover{
    background-color: rgb(230, 230, 230);
}

.navbar-suggestion:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-suggestion p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1rem;
    margin: 8px 0px;
}

.navbar-suggestion-link{
    width: 100%;
}

.separator{
    padding: 5px 10px;
    background-color: rgba(102, 102, 102, 0.3);

    color: rgb(70, 70, 70) !important;
    font-size: 1.1rem;
    font-weight: 700;

    cursor: default;
}

.bars{
    display: none !important;
    font-size: 2rem !important;
    align-items: center;
    z-index: 5;

    position: absolute;
    right: 0;
    top: 0;
}

.responsive{
    position: relative;
    display: flex;
}

.responsive ul:not(:last-child){
    display: block;
}

@media (max-width: 750px) {
    .nav-container ul li{
        margin: 0px 10px;
    }
}

@media (max-width: 600px) {
    .nav-container li a, .nav-container li form input, 
    .nav-container li form button{
        transition: none;
    }
    .nav-container{
        display: block;
    }
    .nav-container ul:not(:last-child){
        position: absolute;
        top: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
    .nav-container ul{
        display: block;
        margin: 0;
    }
    .nav-container ul li:not(:last-child){
        /* display: none; */
        visibility: hidden;
    }
    .nav-container ul li:last-child{
        display: flex !important;
        align-items: center;
    }
    .responsive ul li:not(:last-child){
        visibility: visible;

        display: block !important;
        background-color: rgb(18, 24, 33);
        padding: 15px;
        margin: 0;
    }
    .bars{
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-container ul li:not(:last-child){
        position: relative;
    }

    .responsive .dropdown{
        transition: none;
    }

    .responsive .topic-list{
        transition: none;
        display: block;
    }

    .responsive .topic-item{
        font-size: 1.3rem;
        padding: 5px 0px;
        margin: 0;
    }

    .responsive .dropdown a{
        padding: 5px 0px;
    }

    .responsive .topic-item a, .responsive .dropdown a{
        color: rgba(255, 255, 255, 0.8);
    }

    .responsive li input[type='checkbox']:checked ~ .dropdown{
        width: 100%;
        display: block;
        position: inherit;
        visibility: visible;
        opacity: 1;
    }

    .responsive li input[type='checkbox']:checked ~ .topic-list{
        position: inherit;
        visibility: visible;
        opacity: 1;
    }

    .responsive ul li label{
        display: flex;
    }
    
    .responsive form, .responsive form input{
        width: 100% !important;
    }
    
    .responsive button{
        display: none;
    }
}