body{
    color: white;
}

h2{
    margin: 0px;
    margin-bottom: 10px;

    text-align: center;
}

.container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    position: relative;

    margin: 60px 80px 0 80px;
    padding: 40px;

    display: flex;
    justify-content:space-around;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-container{
    width: 100%;
    /* overflow: hidden; */
}

.form-inner{
    width: 100%;
    display: flex;
    transition: 0.4s ease;
}

.sign-up, .login{
    width: 100%;

    /* padding: 40px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field{
    width: 60%;
    /* height: 100%; */
}

.container input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;

    color: white;
    width: 100%;
    font-size: 1.2rem;
}

.container button{
    display: block;

    min-height: 40px;
    width: 30%;

    margin-top: 20px;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    color: rgb(58, 58, 58);
    font-size: 1.2rem;
    font-weight: 600;

    background-color: rgb(161, 175, 189);
    transition: ease 0.2s;
}

button:hover{
    background-color: rgb(255, 255, 255);
}

.slider{
    position: absolute;
    left: 0;

    height: 100%;
    width: 50%;

    border-radius: 10px;
    border: 3px solid rgb(161, 175, 189);
    margin-top: -43px;

    /* background-color: red; */
    transition: ease 0.5s;
}

img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    object-fit: cover;
    background-image: url('../imgs/trees.jpg');
    background-position: center;
}

a{
    text-decoration: none;

    color: red;
}

a:hover{
    text-decoration: underline;
}

#error{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;

    color: red;
}

@media (max-width: 1000px){
    img{
        background-position: 500px;
    }
}

@media (max-width: 800px){
    .slider{
        display: none;
    }
    .field{
        width: 80%;
    }
    
    .signup, .login{
        width: 100%;
    }
    
    .form-container{
        overflow:hidden;
    }
    
    .form-inner{
        display: flex;
        width: 200%;
    }
}